name: Add Tests Labels

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  add-tests-labels:
    runs-on: ubuntu-latest
    env:
      ROBOT_TESTING: "needs-robot-testing"
      SIMULATION_TESTING: "needs-simulation-testing"
    steps:
      - name: get existing labels
        run: |
          existingLabels=$(jq -r '.pull_request.labels[].name' $GITHUB_EVENT_PATH | tr '\n' ' ')
          echo "existing-labels=${existingLabels}" >>$GITHUB_ENV
          echo "Existing labels: $existingLabels"

      - name: add needs robot test
        if: '!contains(env.existing-labels, env.ROBOT_TESTING)'
        run: |
          curl -X POST \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.number }}/labels \
            -d "{\"labels\":[\"${ROBOT_TESTING}\"]}"

      - name: add needs simulation test
        if: '!contains(env.existing-labels, env.SIMULATION_TESTING)'
        run: |
          curl -X POST \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.number }}/labels \
            -d "{\"labels\":[\"${SIMULATION_TESTING}\"]}"