name: Check Labels For PR

on:
  pull_request:
    types:
      - labeled
      - unlabeled
  workflow_run:
    workflows: [ "Add Tests Labels" ]
    types:
      - completed
      - in_progress
      - requested


jobs:
  check-labels:
    runs-on: ubuntu-latest
    steps:
      - name: Get PR number
        id: pr-number
        run: |
          PR_NUMBER=$(curl -s "https://api.github.com/repos/${GITHUB_REPOSITORY}/pulls?head=${GITHUB_REF}" | jq -r '.[0].number')
          echo "pr-number=${PR_NUMBER}" >> $GITHUB_OUTPUT


      - name: Get labels for PR
        id: labels
        if: steps.pr-number.outputs.pr-number != 'null'
        run: |
          PR_NUMBER="${{ steps.pr-number.outputs.pr-number }}"
          LABELS=$(curl -s "https://api.github.com/repos/${GITHUB_REPOSITORY}/issues/${PR_NUMBER}/labels" | jq -r '.[].name' | tr '\n' ' ')
          echo "LABELS_ARRAY=${LABELS}" >> $GITHUB_ENV

      - name: print all labels
        run: echo "there are this labels on this pr -> ${LABELS_ARRAY}"

      - name: check passed-all-tests label
        run: |
          target_label="passed-all-tests"
          
          if [[ " ${LABELS_ARRAY[*]} " =~ " ${target_label} " ]]; then
             echo "Label '${target_label}' exists."
          else
            echo "Label '${target_label}' does not exist."
            exit 1
          fi

      - name: check waiting-for-another-pr label
        run: |
          target_off_label="waiting-for-another-pr"
          
          if [[ ! " ${LABELS_ARRAY[*]} " =~ " ${target_off_label} " ]]; then
            echo "Label '${target_off_label}' doesn't exists."
          else
            echo "Label '${target_off_label}' exists."
            exit 1
          fi

      - name: check needs-robot-testing label
        run: |
          target_off_label="needs-robot-testing"
          
          if [[ ! " ${LABELS_ARRAY[*]} " =~ " ${target_off_label} " ]]; then
            echo "Label '${target_off_label}' doesn't exists."
          else
            echo "Label '${target_off_label}' exists."
            exit 1
          fi

      - name: check needs-simulation-testing label
        run: |
          target_off_label="needs-simulation-testing"

          if [[ ! " ${LABELS_ARRAY[*]} " =~ " ${target_off_label} " ]]; then
            echo "Label '${target_off_label}' doesn't exists."
          else
            echo "Label '${target_off_label}' exists."
            exit 1
          fi